* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* tout les link */
a {
  text-decoration: none;
  color: #000000;
}

.btn__Principal {
  border: 1px solid #9356DC;
  padding: 15px;
  border-radius: 30px;
  background-color: #9356DC;
  color: white;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s;
}
.btn__Principal:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}
.btn__Principal::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    height: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    height: 0;
  }
}
@-webkit-keyframes tourne {
  1% {
    opacity: 1;
    width: 150px;
    height: 150px;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    width: 150px;
    height: 150px;
  }
}
@keyframes tourne {
  1% {
    opacity: 1;
    width: 150px;
    height: 150px;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    width: 150px;
    height: 150px;
  }
}
@-webkit-keyframes scrol {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes scrol {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
.spine__spinner {
  opacity: 0;
  background: #f6f6f6;
  color: #f6f6f6;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: hide 3s forwards 0s 1;
  animation: hide 3s forwards 0s 1;
}
.spine__loding {
  opacity: 0;
  margin: 200px auto;
  width: 0px;
  height: 0px;
  border: 3px solid #9356DC;
  border-radius: 50%;
  border-top-color: transparent;
  -webkit-animation: tourne 0.5s linear 0s 6;
  animation: tourne 0.5s linear 0s 6;
}

.header {
  background-color: #f6f6f6;
  margin-top: 25px;
  text-align: center;
  padding-bottom: 60px;
}
.header__logo {
  background-color: white;
}
.header__logo__image {
  width: 166px;
}
.header__localisation {
  background-color: #dddddd;
  padding: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.header__heading {
  font-family: "Shrikhand";
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.header__byline {
  margin-bottom: 40px;
}

.FoncBtn {
  max-width: 325px;
  margin: 50px auto;
  background-color: white;
}
.FoncBtn__heading {
  margin-bottom: 30px;
}
.FoncBtn__block {
  display: flex;
  align-items: center;
  border: 1px solid #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}
@media (max-width: 374px) {
  .FoncBtn__block {
    width: 280px;
    padding: 20px 0px 20px 20px;
    margin: auto;
    margin-bottom: 20px;
  }
}
.FoncBtn__icon {
  margin-right: 25px;
  color: #777777;
}
.FoncBtn__icon--color {
  color: #9356DC;
}
.FoncBtn__titre {
  margin-right: 25px;
  font-weight: bold;
}
.FoncBtn__number {
  position: absolute;
  right: 311px;
  border: 5px solid #9356DC;
  border-radius: 50px;
  color: white;
  padding: 1px 6px 1px 5px;
  background-color: #9356DC;
}
@media (max-width: 374px) {
  .FoncBtn__number {
    right: 265px;
  }
}

.resto {
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 40px;
}
.resto__titre {
  font-size: 24px;
  margin-bottom: 20px;
}
.resto__block {
  max-width: 335px;
  margin: 0 auto;
}
.resto__card {
  display: block;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.resto__image {
  width: 334px;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media (max-width: 374px) {
  .resto__image {
    width: 320px;
    height: 175px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.resto__border {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.resto__text {
  padding: 5px;
}
.resto__heading {
  font-weight: bold;
}
.resto__icon {
  color: black;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 10px;
}
.resto__Nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #bebebe;
  background-color: #bebebe;
  padding: 5px;
}

.footer {
  background-color: #2a2a2a;
  padding-bottom: 30px;
}
.footer__block {
  max-width: 335px;
  margin: 0 auto;
  color: white;
}
.footer__heading {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Shrikhand";
}
.footer__byline {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__contact {
  margin-top: 10px;
  color: white;
}
.footer__icon {
  margin-top: 10px;
  padding-right: 6px;
  font-size: 12px;
}

.hedMmenu {
  display: flex;
  max-width: 375px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.hedMmenu__logo {
  width: 175px;
  height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
}
.hedMmenu__icon {
  font-size: 20px;
}

.image {
  width: 375px;
  height: 260px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}
@media (max-width: 374px) {
  .image {
    width: 320px;
    height: 260px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.hedimg {
  max-width: 375px;
  margin: 0 auto;
}

.hedBlock {
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 300px;
  border: 1px solid #f6f6f6;
  border-radius: 30px;
  background-color: #f6f6f6;
  padding: 17px 0px 11px 15px;
}
@media (max-width: 374px) {
  .hedBlock {
    width: 320px;
  }
}
.hedBlock__hed {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}
.hedBlock__coure:hover .hedBlock__like2 {
  transform: scale(0.83);
  color: #9356DC;
  transition: transform 3s ease-in-out;
}
.hedBlock__like2 {
  transform: scale(0);
  transform-origin: center bottom;
  font-size: 24px;
  margin-right: 26px;
}
@media (max-width: 374px) {
  .hedBlock__like2 {
    margin-right: 19px;
    margin-top: 1px;
  }
}
.hedBlock__like2--accueil {
  margin-right: 26px;
  margin-top: 6px;
}
.hedBlock__like1 {
  position: absolute;
  bottom: 40px;
  height: 0px;
  right: 26px;
  font-size: 24px;
}

.menu {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}

.repas {
  max-width: 350px;
  margin: 0 auto;
}
.repas__entree {
  opacity: 1;
  -webkit-animation: scrol 1.5s ease-in-out 0s 1;
  animation: scrol 1.5s ease-in-out 0s 1;
}
.repas__plate {
  opacity: 1;
  -webkit-animation: scrol 1.5s ease-in-out 1.8s 1;
  animation: scrol 1.5s ease-in-out 1.8s 1;
}
.repas__dessert {
  opacity: 1;
  -webkit-animation: scrol 1.5s ease-in-out 3.5s 1;
  animation: scrol 1.5s ease-in-out 3.5s 1;
}
.repas__liste {
  display: flex;
  justify-content: space-between;
  max-width: 345px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 30px;
}
.repas__liste:hover .repas__icon {
  opacity: 1 !important;
  width: 60px;
  transition: all 0.7s ease-in-out;
}
.repas__liste:hover .repas__icon--tourne {
  transform: rotate(-20deg);
  transition: transform 1s ease-in-out;
}
.repas__heading {
  padding-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 200;
}
.repas__heading--padTop {
  padding-top: 40px;
}
.repas__line {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 277px;
}
.repas__byline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 277px;
}
.repas__animi {
  display: flex;
  justify-content: space-between;
}
.repas__icon {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  opacity: 0 !important;
  width: 0px;
  height: 65px;
  background-color: #b6b6b6;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.repas__icon--tourne {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotate(200deg);
}
.repas__prix {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}
.repas__titre {
  font-weight: bold;
  margin-bottom: 5px;
}
.repas__btn {
  display: flex;
  justify-content: center;
  width: 190px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
