// header-page-Accueil

.header{
    background-color: $Primaire-color;
    text-align: center;
    padding-bottom: 60px;
    &__logo{ background-color:#ffffff ;
        &__image{
            width: 166px;
        }
    }
    &__localisation{
        background-color: darken($Primaire-color, 10%);
        padding: 15px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    &__heading{
        font-family: "Shrikhand";
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    &__byline{
        margin-bottom: 40px;
    }
    &__btn{
        border: 1px solid $btn-color;
        padding: 15px;
        border-radius: 30px;
        background-color: $btn-color;
        color: blanchedalmond;
    }
}

// les-btn-de-Fonctionnement page-Accueil
.FoncBtn{
    width: 325px;
    margin: 50px auto;
    &__block{
        display: flex;
        align-items: center;
        border: 1px solid $Primaire-color;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: $Primaire-color;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    }
    // &__i{
    //     position: relative;
    // }
    &__icon{
        margin-right: 25px;
        color: #7e7e7e;
        &--color{
            color: $btn-color;
        }
    }
    &__titre{
        margin-right: 25px;
        font-weight: bold;
    }
    &__number{
        // margin-right: 25px;
        // position: absolute;
        // left: 0;
        // top: 0;
        border: 5px solid $btn-color;
        border-radius: 50px;
        color: #ffffff;
        padding: 1px 6px 1px 5px;
        background-color: $btn-color;
    }
}
// les carte de resro
.resto{
    background-color:$Primaire-color;
    padding-top: 40px;
    padding-bottom: 40px;
    &__titre{
        font-size: 24px;
        margin-bottom: 20px;
    }
    &__block{
        width: 335px;
    margin: 0 auto;
    }
    &__card{
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    &__image{
        width: 334px;
        height: 175px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__border{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    }
    &__text{
        padding: 5px;
    }
    &__heading{
        font-weight: bold;
    }
    &__icon{
        color: #000000;
        margin-right: 20px;
        font-size: 20px;
        margin-top: 10px;
    }
    &__Nouveau{
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #99e2d0;
        background-color: #99e2d0;
        padding: 5px;
    }
}

