@import "./utils/variables";
@import "./base";
@import "./layouts";
@import "./page";
@import "./utils/Fonctions";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.blocResto__image{
    width: 335px;
    height: 175px;
    object-fit: cover;
    margin: 0 auto;
}

/* tout les link */
a{
    text-decoration: none;
}
 .footer{
    background-color: #353535;
    padding-left: 25px; 
    &__heading{
        padding-top: 20px;
        padding-bottom: 20px;
    }
     
 }

