.btn__Principal{
    border: 1px solid #eb86e0;
        padding: 15px;
        border-radius: 40px;
        background: linear-gradient(90deg, rgba(235,134,224,1) 0%, rgba(176,116,225,1) 100%);
        color: lighten($btn-color,100%);
        position: relative;
        z-index: 1;
        opacity: 1;
        &:hover {
            @include boxshadow;
            opacity: 0.85;
            transition: box-shadow .4s ease-in-out, opacity 0.5s ease-in-out;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
}
@-webkit-keyframes hide{
    0%{
        opacity: 1;
        
    }
    100%{
        opacity: 0.5;
        height: 0;
    }
}
@keyframes hide{
    0%{
        opacity: 1;
       
    }
    100%{
        opacity: 0.5;
        height: 0;
    }
}

@-webkit-keyframes tourne{
    1%{
        opacity: 1;
        width: 150px;
        height: 150px;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
        width: 150px;
        height: 150px;
    }
}

@keyframes tourne{
    1%{
        opacity: 1;
        width: 150px;
        height: 150px;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
        width: 150px;
        height: 150px;
    }
}

@-webkit-keyframes scrol{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes scrol{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes icon{
    0%{
        width: 0;
    }
    100%{
        width: 60px;
    }
}
// Spinner 

.spine{
    &__spinner {
        opacity: 0;
        background: $Primaire-color;
        color: #f6f6f6;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-animation: hide 3s forwards 0s 1;
                animation: hide 3s forwards 0s 1;
        }        
    &__loding{
        opacity: 0;
        margin: 200px auto;
        width: 0px;
        height: 0px;
        border: 3px solid $btn-color;
        border-radius: 50%;
        border-top-color: transparent;
        -webkit-animation: tourne .5s linear 0s 6;
                animation: tourne .5s linear 0s 6;
    }
}
